*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.container
{
	position: relative;
	width: 500px;
	height: 500px;
	background: #272C34;
	top: 50px;
	border-radius: 0px;
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* cursor: pointer; */
}

.circle
{
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.sky
{
	position: absolute;
	background: #7DDFFC;
	height: 127px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	transition: 1s;
	animation: sky-turns-black 4s cubic-bezier(.4,0,.49,1) infinite;
}

.ground 
{
	position: absolute;
	height: 73px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background: #F0DE75;
	animation: ground-turns-black 4s cubic-bezier(.4,0,.49,1) infinite;
}

.pyramid
{
	position: absolute;
	height: 100px;
	width: 0px;
	border-bottom: 50px solid #fff;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent ;
	border-top: 50px solid transparent;
	top: 27px;
	left:50px;
	animation: gone 4s linear infinite;
}

 .left-side
{
	position: absolute;
	width: 0px;
	height: 100px;
	top: -50px;
	left: -50px;
	border-bottom: 50px solid #0000005d;
	border-left: 50px solid transparent;
	border-right: 15px solid transparent ;
	border-top: 50px solid transparent;
	animation: shade 4s cubic-bezier(.4,0,.49,1) infinite;
}

.sun
{
	position: absolute;
	top: 7px;
	left: 73px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #FFEF00;
	transform-origin: 40% 400%;
	animation: rotate 4s cubic-bezier(.4,0,.49,1) infinite;	
	z-index: 2;
}

@keyframes gone {
	0%,3%
	{
		opacity: 0;
	}
	30%
	{
		opacity: 1;
	}
	70%
	{
		opacity: 1;
	}

	100%
	{
		opacity: 0;
	}
}

@keyframes sky-turns-black {
	0%
	{
		background: #272C34

		;
	}
	30%
	{
		background: #7DDFFC;
	}

	70%
	{
		background: #7DDFFC;
	}
	100%
	{
		background: #272C34

		;
	}
}

@keyframes ground-turns-black {
	0%
	{
		background: #272C34

		;
	}
	30%
	{
		background: #F0DE75;
	}
	70%
	{
		background: #F0DE75;
	}
	100%
	{
		background: #272C34

		;
	}
}

@keyframes shade {
	0%
	{
		opacity: 0;
	}

	30%
	{
		opacity: 0.3;
	}

	100%
	{
		opacity: 0.8;
	}
}

@keyframes rotate {
	0%
	{
		transform: rotate(-70deg);
	}

	30%
	{
		transform: rotate(-24deg); 
	}

	70%
	{
		background: #FFEF00;
	}

	80%
	{
		opacity: 0.8;
	}

	100%
	{
		transform: rotate(70deg);
		opacity: 0;
	}

}