*,::before,::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container
{
	position: absolute;
	width: 300px;
	height: 300px;
	background: #0d70f0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center
{
	position: relative;
	width: 100px;
	height: 100px;
	top: 100px;
	left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

span
{
	position: absolute;
	background: #fff;
	box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	transform: scale(0, 0);
}
span:nth-child(1)
{
	width: 100px;
	height: 100px;
	z-index: 1;
	animation: scale_one 2s cubic-bezier(.21,.98,.6,.99) infinite alternate;
}

span:nth-child(2)
{
	width: 70px;
	height: 70px;
	z-index: 2;
	animation: scale_two 2s cubic-bezier(.21,.98,.6,.99) infinite alternate;
}

span:nth-child(3)
{
	width: 30px;
	height: 30px;
	z-index: 3;
	animation: scale_three 2s cubic-bezier(.21,.98,.6,.99) infinite alternate;
}

@keyframes scale_one{
	0%, 10%
	{
		transform: scale(0);
	}

	100%
	{
		transform: scale(1);
	}
}


@keyframes scale_two{
	0%, 40%
	{
		transform: scale(0);
	}

	100%
	{
		transform: scale(1);
	}
}

@keyframes scale_three{
	0%, 70%
	{
		transform: scale(0);
	}

	100%
	{
		transform: scale(1);
	}
}
